* {
	box-sizing: border-box;
	font-family: arial;
}

.body {
	background-image: url("../images/ian.png");
	background-repeat: no-repeat;
	background-position: 75% 20%;
}

.main--block {
	box-shadow: -1px -3px 5px #c0c0c0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	height: 85%;
	border: 1px solid #c0c0c0;
}

.block--footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #f6153d;
	height: 15%;
	border: 1px solid #c0c0c0;
	margin-left: 5px;
	margin-right: 5px;
}

.block--footer__block--tippi,
.block--footer__block--janell,
.block--footer__block--ian,
.block--footer__block--allen,
.block--footer__block--ric {
	box-shadow: -1px -1px 2px #c0c0c0;
	border-radius: 5px;
	height: 100%;
	float: left;
	width: 20%;
	` padding: 50px;
	border: 1px solid #c0c0c0;
}

h3 {
	color: #7e748b;
}

.block--footer__block--ian {
	background-color: #f6153d;
	color: #ffffff;
}

.block--footer__block--ian__h3 {
	color: #ffffff;
}

.block {
	box-shadow: -1px -3px 5px #c0c0c0;
	border-radius: 10px;
	border-bottom: 3px;
	margin-top: 10%;
	margin-left: 10%;
	padding-left: 15px;
	width: 40%;
}

.jq_block__elem__img1 {
	position: fixed;
	top: 35%;
	left: 65%;
}

.jq_block__elem__img2 {
	position: fixed;
	top: 30%;
	left: 55%;
}

.block--footer__block__link {
	text-decoration: none;
	color: #7e748b;
}